{
"liveHIT":"yes",
"title":"Human Cognition and Perception",
"description":"5-15 minutes study. Watch a short animation and answer a few questions about it.",
"experimentURL":"https://scl-study2.github.io",
"keywords":"learning research fun cognitive science university",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"90",
"minNumPreviousHITsApproved":"50",
"frameheight":"650",
"reward":"2.00",
"numberofassignments":"20",
"assignmentsperhit": "20",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"doesHaveQualification":"none",
"doesNotHaveQualification": "3J8YJIMHXX0CYV5KTEUHX063YCRAMQ"
}
