{
"liveHIT":"no",
"title":"scl study",
"description":"5-10 minutes study. Watch a short animation and answer a few questions about it.",
"experimentURL":"https://scl-study.github.io",
"keywords":"learning research fun cognitive science university",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"95",
"minNumPreviousHITsApproved":"40",
"frameheight":"650",
"reward":"2.00",
"numberofassignments":"10",
"assignmentsperhit": "1",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"doesHaveQualification":"none",
"doesNotHaveQualification": "none"
}